<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>VueWordCloud</title>
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.@@iterator,Array.prototype.find,Array.prototype.includes,Math.log2,Number.isFinite,Number.parseInt,Object.entries,Object.values,Promise.prototype.finally"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<script src="VueWordCloud.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.0-alpha.2/vuetify.min.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.0-alpha.2/vuetify.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Annie+Use+Your+Telescope|Anton|Bahiana|Baloo+Bhaijaan|Barrio|Bungee+Inline|Cabin+Sketch|Finger+Paint|Fredericka+the+Great|Gloria+Hallelujah|Indie+Flower|Kranky|Life+Savers|Londrina+Sketch|Lora|Love+Ya+Like+A+Sister|Merienda|Nothing+You+Could+Do|Pacifico|Quicksand|Righteous|Sacramento|Shadows+Into+Light|Sue+Ellen+Francisco"/>
	</head>
	<body>
		<v-app
			v-cloak
			id="App"
		>
			<v-navigation-drawer
				clipped
				v-model="drawer"
				app
			>
				<div
					v-if="false"
					class="ma-3"
				>
					<v-switch
						label="active"
						v-model="active"
						color="deep-orange"
						hide-details
					></v-switch>
				</div>
				<div class="ma-3">
					<v-text-field
						label="words &amp; weights"
						v-model="model.words.value"
						color="deep-orange"
						multi-line
						:rows="9"
						hide-details
					></v-text-field>
				</div>
				<div class="ma-3">
					<v-select
						label="font family"
						:items="model.fontFamily.possibleValues"
						v-model="model.fontFamily.value"
						color="deep-orange"
						hide-details
					>
						<template slot="item" slot-scope="data">
							<span :style="{fontFamily: data.item}">
								{{ data.item }}
							</span>
						</template>
					</v-select>
				</div>
				<div class="ma-3">
					<div class="subheading grey--text text--darken-1">
						color
					</div>
					<v-btn-toggle
						mandatory
						v-model="model.color.value"
					>
						<v-btn
							v-for="value in model.color.possibleValues"
							:value="value"
							flat
							color="deep-orange"
						>
							<div style="display: flex; margin: 2px; width: 24px; height: 24px;">
								<div
									v-for="color in value"
									style="flex: 1;"
									:style="{backgroundColor: color}"
								></div>
							</div>
						</v-btn>
					</v-btn-toggle>
				</div>
				<div class="ma-3">
					<div class="subheading grey--text text--darken-1">
						rotation
					</div>
					<v-btn-toggle
						mandatory
						v-model="model.rotation.value"
					>
						<v-btn
							v-for="item in model.rotation.possibleItems"
							:value="item.value"
							flat
							color="deep-orange"
						>
							<template v-if="item.icon">
								<v-icon>{{ item.icon }}</v-icon>
							</template>
							<template v-else>
								{{ item.text }}
							</template>
						</v-btn>
					</v-btn-toggle>
				</div>
				<div class="ma-3">
					<div style="display: flex; justify-content: space-between; align-items: center;">
						<div class="subheading grey--text text--darken-1">
							animation duration
						</div>
						<v-chip
							small
							color="deep-orange"
							text-color="white"
						>
							{{ (animationDuration > 0) ? (Math.round(animationDuration / 1000) + ' ' + 's') : 'none' }}
						</v-chip>
					</div>
					<v-slider
						v-model="model.animationDuration.value"
						color="deep-orange"
						class="px-2 py-0"
						:max="model.animationDuration.possibleValues.length - 1"
						:min="0"
						hide-details
					></v-slider>
				</div>
				<div class="ma-3">
					<div style="display: flex; justify-content: space-between; align-items: center;">
						<div class="subheading grey--text text--darken-1">
							font size ratio
						</div>
						<v-chip
							small
							color="deep-orange"
							text-color="white"
						>
							{{ (fontSizeRatio > 0) ? (fontSizeRatio + ' ' + 'x') : 'none' }}
						</v-chip>
					</div>
					<v-slider
						v-model="model.fontSizeRatio.value"
						color="deep-orange"
						class="px-2 py-0"
						:max="model.fontSizeRatio.possibleValues.length - 1"
						:min="0"
						hide-details
					></v-slider>
				</div>
				<div class="ma-3">
					<div style="display: flex; justify-content: space-between; align-items: center;">
						<div class="subheading grey--text text--darken-1">
							max font size
						</div>
						<v-chip
							small
							color="deep-orange"
							text-color="white"
						>
							{{ Number.isFinite(maxFontSize) ? (maxFontSize + ' ' + 'px') : 'none' }}
						</v-chip>
					</div>
					<v-slider
						v-model="model.maxFontSize.value"
						color="deep-orange"
						class="px-2 py-0"
						:max="model.maxFontSize.max"
						:min="model.maxFontSize.min"
						:step="model.maxFontSize.step"
						hide-details
					></v-slider>
				</div>
			</v-navigation-drawer>
			<v-toolbar
				dark
				color="deep-orange darken-3"
				clipped-left
				app
			>
				<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
				<v-toolbar-title>VueWordCloud</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn
					icon
					href="https://github.com/SeregPie/VueWordCloud"
					target="_blank"
				>
					<v-icon>fa-github</v-icon>
				</v-btn>
			</v-toolbar>
			<v-content>
				<v-container
					fluid
					fill-height
				>
					<vue-word-cloud
						v-if="active"
						:words="words"
						:color="color"
						:font-family="fontFamily"
						:rotation="rotation"
						:font-size-ratio="fontSizeRatio"
						:max-font-size="maxFontSize"
						:animation-duration="animationDuration"
					>
						<template slot-scope="word">
							<v-tooltip top>
								<div slot="activator">
									{{ word.text }}
								</div>
								<div class="text-xs-center">
									{{ word.text }}<br/>({{ word.weight }})
								</div>
							</v-tooltip>
						</template>
					</vue-word-cloud>
				</v-container>
			</v-content>
		</v-app>
		<script src="demo/index.js"></script>
	</body>
</html>