<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<title>VueWordCloud</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<script src="VueWordCloud.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Annie+Use+Your+Telescope|Anton|Bahiana|Baloo+Bhaijaan|Barrio|Bungee+Inline|Cabin+Sketch|Finger+Paint|Fredericka+the+Great|Gloria+Hallelujah|Indie+Flower|Kranky|Life+Savers|Londrina+Sketch|Lora|Love+Ya+Like+A+Sister|Merienda|Nothing+You+Could+Do|Pacifico|Quicksand|Righteous|Roboto|Sacramento|Shadows+Into+Light|Sue+Ellen+Francisco" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.0-alpha.1/theme-chalk/index.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.0-alpha.1/index.js"></script>
	</head>
	<body style="height: 100%; font-family: Roboto;">
		<el-container style="height: 100%;" v-cloak id="demo">
			<el-aside width="400px">
				<div style="text-align: center;">
					<a href="https://github.com/SeregPie/VueWordCloud" target="_blank">
						<el-button type="text" style="font-size: 28px;">
							<i class="fa fa-github"></i> VueWordCloud
						</el-button>
					</a>
				</div>
				<el-form label-position="right" label-width="100px">
					<el-form-item label="active" hidden>
						<el-switch
							v-model="active"
						></el-switch>
					</el-form-item>
					<el-form-item label="words &amp; weights">
						<el-input
							type="textarea"
							v-model="wordsInput"
							:rows="9"
						></el-input>
					</el-form-item>
					<el-form-item label="font family">
						<el-select v-model="fontFamily" style="width: 100%;">
							<el-option
								v-for="fontFamily in supportedFontFamilies"
								:key="fontFamily"
								:label="fontFamily"
								:value="fontFamily"
								:style="{fontFamily}"
							></el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="rotation">
						<el-radio-group v-model="rotation">
							<el-radio
								:label="horizontalRotation"
							>horizontal</el-radio>
							<el-radio
								:label="diagonalRotation"
							>diagonal</el-radio>
							<el-radio
								:label="randomHorizontalVerticalRotation"
							>horizontal and vertical</el-radio>
							<el-radio
								:label="randomHorizontalVerticalDiagonalsRotation"
							>horizontal, vertical and diagonals</el-radio>
							<el-radio
								:label="randomRotation"
							>fully random</el-radio>
						</el-radio-group>
					</el-form-item>
					<el-form-item label="animation duration">
						<div style="display: flex;">
							<div style="flex: 1; padding: 0 10px;">
								<el-slider
									:min="0"
									:max="15000"
									:step="500"
									:show-tooltip="false"
									v-model="animationDuration"
								></el-slider>
							</div>
							<div style="width: 75px; text-align: right;">
								{{ (animationDuration / 1000).toFixed(1) }} s
							</div>
						</div>
					</el-form-item>
					<el-form-item label="font size ratio">
						<div style="display: flex;">
							<div style="flex: 1; padding: 0 10px;">
								<el-slider
									:min="1"
									:max="20"
									:step="0.1"
									:show-tooltip="false"
									:format-tooltip="v => (v || 0).toFixed(1)"
									v-model="fontSizeRatio"
								></el-slider>
							</div>
							<div style="width: 75px; text-align: right;">
								{{ fontSizeRatio.toFixed(1) }}
							</div>
						</div>
					</el-form-item>
					<el-form-item label="max font size">
						<div style="display: flex;">
							<div style="flex: 1; padding: 0 10px;">
								<el-slider
									:min="1"
									:max="200"
									:step="1"
									:show-tooltip="false"
									:format-tooltip="v => `${v || 0} px`"
									v-model="maxFontSize"
								></el-slider>
							</div>
							<div style="width: 75px; text-align: right;">
								{{ maxFontSize }} px
							</div>
						</div>
					</el-form-item>
				</el-form>
			</el-aside>
			<el-container>
				<el-main>
					<vue-word-cloud
						v-if="active"
						:words="words"
						:color="randomColor"
						:font-family="fontFamily"
						:rotation="rotation"
						:font-size-ratio="fontSizeRatio"
						:max-font-size="maxFontSize"
						:animation-duration="animationDuration"
						style="min-width: 256px; min-height: 256px;"
					></vue-word-cloud>
				</el-main>
			</el-container>
		</el-container>
		<script src="demo/demo.js"></script>
	</body>
</html>