<!DOCTYPE html>
<html>
	<head>
		<title>VueWordCloud</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
		<script src="VueWordCloud.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Annie+Use+Your+Telescope|Anton|Bahiana|Baloo+Bhaijaan|Barrio|Bungee+Inline|Cabin+Sketch|Fredericka+the+Great|Gloria+Hallelujah|Indie+Flower|Kranky|Life+Savers|Londrina+Sketch|Lora|Love+Ya+Like+A+Sister|Merienda|Nothing+You+Could+Do|Pacifico|Quicksand|Righteous|Roboto|Sacramento|Shadows+Into+Light|Sue+Ellen+Francisco" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
	</head>
	<body>
		<div class="hero is-fullheight" id="demo">
			<div class="hero-head">
				<nav class="navbar has-shadow">
					<div class="navbar-brand">
						<div class="navbar-item">
							<a class="title is-3" href="https://seregpie.github.io/VueWordCloud/">
								VueWordCloud
							</a>
						</div>
					</div>
					<div class="navbar-menu">
						<div class="navbar-end">
							<a class="navbar-item" href="https://github.com/SeregPie/VueWordCloud" target="_blank">
								<span class="icon" style="color: #333;">
									<i class="fa fa-github"></i>
								</span>
							</a>
						</div>
					</div>
				</nav>
			</div>
			<div class="hero-body">
				<div class="container" style="align-self: stretch;">
					<div class="columns" style="width: 100%; height: 100%">
						<div class="column is-3">
							<div class="field">
								<label class="label">words</label>
								<div class="control">
									<textarea class="textarea" v-model="wordsInput" rows="12"></textarea>
								</div>
							</div>
							<div class="field">
								<label class="label">font family</label>
								<div class="control">
									<div class="select is-fullwidth">
										<select v-model="fontFamily">
											<option v-for="fontFamily in supportedFontFamilies" :value="fontFamily" :style="{fontFamily}">{{ fontFamily }}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="field">
								<label class="label">rotation</label>
								<div class="control">
									<label class="radio">
										<input type="radio" v-model="rotation" :value="horizontalRotation"/> horizontal
									</label>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<label class="radio">
										<input type="radio" v-model="rotation" :value="diagonalRotation"/> diagonal
									</label>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<label class="radio">
										<input type="radio" v-model="rotation" :value="randomHorizontalVerticalRotation"/> horizontal and vertical
									</label>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<label class="radio">
										<input type="radio" v-model="rotation" :value="randomHorizontalVerticalDiagonalRotation"/> horizontal, vertical and diagonal
									</label>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<label class="radio">
										<input type="radio" v-model="rotation" :value="randomRotation"/> fully random
									</label>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="box" style="width: 100%; height: 100%">
								<vue-word-cloud :words="words" :color="randomColor" :font-family="fontFamily" :rotation="rotation" style="background-color: yellow;"></vue-word-cloud>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-foot">
				<div class="container">
					<div class="has-text-centered">
						<a class="has-text-dark" href="https://github.com/SeregPie" target="_blank">by Sergej Sintschilin</a>
					</div>
				</div>
			</div>
		</div>
		<script src="demo/demo.js"></script>
	</body>
</html>
