<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<title>VueWordCloud</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<script src="VueWordCloud.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Annie+Use+Your+Telescope|Anton|Bahiana|Baloo+Bhaijaan|Barrio|Bungee+Inline|Cabin+Sketch|Finger+Paint|Fredericka+the+Great|Gloria+Hallelujah|Indie+Flower|Kranky|Life+Savers|Londrina+Sketch|Lora|Love+Ya+Like+A+Sister|Merienda|Nothing+You+Could+Do|Pacifico|Quicksand|Righteous|Roboto|Sacramento|Shadows+Into+Light|Sue+Ellen+Francisco" rel="stylesheet"/>
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
		<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
	</head>
	<body style="height: 100%;">
		<v-app style="height: 100%;" v-cloak id="demo">
			<v-navigation-drawer
				persistent
				absolute
				:value="true"
			>
				<el-form label-position="right" label-width="100px">
					<el-form-item label="active">
						<v-switch
							v-model="active"
						></v-switch>
					</el-form-item>
					<el-form-item >
						<v-text-field
							label="words &amp; weights"
							v-model="wordsInput"
							multi-line
							:rows="9"
						></v-text-field>
					</el-form-item>
					<el-form-item>
						<v-select
							label="font family"
							:items="supportedFontFamilies"
							v-model="fontFamily"
						></v-select>
					</el-form-item>
					<el-form-item>
						<v-select
							label="rotation"
							:items="[{text: 'horizontal', value: horizontalRotation}, {text: 'diagonal', value: diagonalRotation}, {text: 'horizontal and vertical', value: randomHorizontalVerticalRotation}, {text: 'horizontal, vertical and diagonals', value: randomHorizontalVerticalDiagonalsRotation}, {text: 'fully random', value: randomRotation}]"
							v-model="rotation"
						></v-select>
					</el-form-item>
					<el-form-item label="animation duration">
						<v-slider
							:min="0"
							:max="15000"
							:step="500"
							v-model="animationDuration"
						></v-slider>
					</el-form-item>
					<el-form-item label="font size ratio">
						<v-slider
							:min="1"
							:max="20"
							:step="0.1"
							v-model="fontSizeRatio"
						></v-slider>
					</el-form-item>
					<el-form-item label="max font size">
						<v-slider
							:min="1"
							:max="200"
							:step="1"
							v-model="maxFontSize"
						></v-slider>
					</el-form-item>
				</el-form>
			</v-navigation-drawer>
			<v-toolbar fixed>
				<v-toolbar-title>
					<a href="https://github.com/SeregPie/VueWordCloud" target="_blank">
						<i class="fa fa-github"></i> VueWordCloud
					</a>
				</v-toolbar-title>
			</v-toolbar>
			<main>
				<v-container fill-height>
					<v-layout>
						<vue-word-cloud
							v-if="active"
							:words="words"
							:color="randomColor"
							:font-family="fontFamily"
							:rotation="rotation"
							:font-size-ratio="fontSizeRatio"
							:max-font-size="maxFontSize"
							:animation-duration="animationDuration"
							style="height: 300px;"
						></vue-word-cloud>
					</v-layout>
				</v-container>
			</main>
		</v-app>
		<script src="demo/demo.js"></script>
	</body>
</html>